{% extends 'main.html' %} {% block content %}
<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
</style>

<div class="home-container">

  <!-- 1st coloum -->
  <div>
    {% include 'base/topic_component.html' %}
  </div>
  <!-- 2nd coloum -->
  <div>
    <h5>{{rooms.count}} room{{rooms.count|pluralize}} avaiable</h5>
    <a href="{% url 'base:create-room' %}">Create Room</a>
    {% include 'base/feed_component.html' %}
  </div>
  <!--3rd coloum -->
  <div>
    {% include 'base/activity_component.html' %}
  </div>
</div>
{% endblock %}